body {
  scrollbar-width: "none" !important;
}

.container-fluid {
  padding: 0;
}

.card-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.card-body {
  padding: 0 0.2rem 0.2rem 0;
}

.mt-2 .card-header,
.card-pd-header {
  padding: 0 0 0 0.4rem;
}

.mt-2 {
  margin-top: 0.2rem !important;
}

.row {
  padding: 0;
}

.card-header,
.list-group .d-flex > div:first-child,
.ellipsis-3d {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outline-view .list-group .list-group-item {
  padding: 0.1rem 0.1rem 0.1rem 1rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

.my-card-body,
.mantine-ScrollArea-viewport {
  overflow: hidden !important;
  scrollbar-width: thin;
}

.row {
  --bs-gutter-x: 0;
}

h5 {
  margin-bottom: 0;
}

.accordion-body {
  padding: 0.5rem;
}

btn-group-sm > .btn,
.btn-sm {
  --bs-btn-padding-y: 0;
  --bs-btn-font-size: 0.8rem;
}

.custom-file-upload {
  cursor: pointer;
  border: 1px dashed #ccc;
  border-radius: 4px;
}

.custom-file-upload:hover {
  color: var(--bs-primary-text-emphasis);
  background-color: var(--bg-primary);
}

.mark-label {
  font-size: 1.16rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  background: var(--bs-gray-500);
  color: var(--bs-primary-bg-subtle);
  opacity: 0.6;
}

.mark-label-controller-panel {
  background-color: #0f0404;
  padding: 0.116rem 0.6rem;
  border-radius: 0.4rem;
  opacity: 0.9;
}

.mark-label-controller-panel .mark-label-header {
  display: flex;
}
.mark-label-controller-panel p,.mark-label-controller-panel span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mark-label-body p {
  margin-bottom: 0;
}

.input-group input {
  overscroll-behavior: contain;
  touch-action: none;
}

#editor-canvas canvas {
  width: 100% !important;
}

.accordion-item .accordion-body {
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 42vh;
}

.lil-gui.root > .children {
  overflow-x: unset;
  overflow-y: unset;
}

.lil-gui.autoPlace {
  position: unset;
}

.lil-gui .controller .name {
  color: var(--bs-secondary-text-emphasis);
}

.lil-gui,
.lil-gui.root > .title {
  font-size: 1.3cap;
  background-color: var(--bs-body-bg);
  color: var(--bs-accordion-active-color);
}

.left-btn-group > div .btn {
  flex: unset;
  --bs-btn-padding-y: 0.15rem;
  --bs-btn-padding-x: 0.16rem;
}

/* #buttonGroupDiv {
  visibility: hidden;
} */
 
 .super-press-btn-container  .super-press-btn {
  position: relative;
  color: rgb(122, 16, 16);
  overflow: hidden;
  transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform-origin: center;
}

 .super-press-btn-container   .super-press-btn:active {
  transform: scaleX(1.36);
  /* transform: scaleX(1.16) translateX(5px); */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

 .super-press-btn-container   .press-ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(3, 48, 10, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
  animation: ripple 1s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}